:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;  
  color-scheme: only light;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
